@import (reference) "common";

#name-view {
  float: right;
  width: 120px;
  text-align: left;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: @white;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      font-size: 13px;
      height: 17px;
      line-height: 17px;
      padding: 1px 0 1px 5px;
      cursor: default;

      .mode {
        color: @cf-green;
      }

      &.me .nick {
        color: @cf-orange;
      }

      &:hover {
        background-color: @background;
      }
    }
  }
}
