@import (reference) "common";

#topic-view {
  position: fixed;
  top: 20px;
  left: 0;
  background-color: @background;
  height: 20px;
  line-height: 20px;
  width: 100%;
  font-size: 14px;
  padding: 0 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 0 5px 10px -5px @lightshadow;
}
